@import 'https://fonts.googleapis.com/css?family=Open+Sans|Roboto';

*:not(.fa):not(.dashicons) {
  font-family: "Roboto", "Open Sans", Arial, Helvetica, sans-serif !important
}

.menu-fixed .site-menu {
  width: calc(100% - 17px)
}

body {
  background-color: #202329;
  color: #FFF
}

.promobar {
  display: none
}

.wrap {
  overflow-x: hidden;
  overflow-y: auto
}

.sidebar {
  max-width: 400px
}

.bbp-forum-link-list-header {
  padding: 5px
}

.bbp-forum-link-list {
  display: block
}

.bbp-forum-link-title {
  display: inline
}

.bbp-forum-last-post {
  display: inline;
  float: right
}

.bbp-forum-link {
  padding: 5px 20px
}

h3.forum-sidebar-user-info-name a {
  font-size: 200%
}

h1, h2, h3, h4, h5, h6 {
  text-transform: none
}

h1, h2, h3 {
  font-variant: small-caps;
  font-weight: 600
}

div.bbp-reply-content h6 {
  font-weight: normal !important;
  font-size: 1rem !important
}

.username {
  font-variant: normal
}

a.forum-sidebar-user-menu-item {
  text-transform: none;
  font-variant: small-caps
}

.gdbbx-footer-meta {
  overflow: hidden
}

.bbp-thanks-list a {
  text-decoration: none;
}
